.md-checkbox-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.flex-4 {
	margin: 2em 0 5em;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1em;
}

.flex-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2em;
}

@media screen and (max-width: 700px) {
	.flex-3 {
		grid-template-columns: repeat(2, 1fr);
	}
	.flex-3 {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0;
	}
}
@media screen and (max-width: 450px) {
	.flex-3 {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 0;
	}
	.flex-4 {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 0;
	}
}